<!DOCTYPE html>
{% extends 'shared_layout/base.html' %}

{%block title%}
login
{%endblock title%}

{%block contents%}
{%if error%}
<div class="alert alert-danger" role="alert">
    {{error}}
</div>
{%endif%}
<form method="post">
    {%csrf_token%}
    {%include 'users/form_snippets.html' with form=form%}                
    <input class="btn btn-primary" type="submit" value="Login">
</form>
<div class="my-2">
    <small class="text-muted">
        Mot de passe oublié  ? <a class="ml-2" href="{%url 'users:forgot_password'%}">restaurez-le</a>
    </small>
</div>

<div class="my-2">
    <small class="text-muted">
        Bésoin d'un compte ? <a class="ml-2" href="{%url 'users:register'%}">créez le</a>
    </small>
</div>
{%endblock contents%}